<div class="post-container">
    <div class="post-details black-border">
        <div class="post-header">
            <h2><%= @post.title %> by <%= @author.name %></h2>
            <span>Comments: <%= @post.comments_counter || 0 %>, Likes: <%= @post.likes_counter || 0 %></span>
        </div>
        <div class="post-content">
            <%= @post.text %>
        </div>
    </div>
    <div class="comments-container black-border">
        <% @post.comments.each do |comment| %>
            <p><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
    </div>
</div> 